requests>=0.0.1
langchain>=0.1.0
langchain-openai>=0.0.5
langchain-community>=0.0.20
python-dotenv>=1.0.0
langchain-google-genai>=0.0.2
langchain-experimental>=0.3.0
ddgs>=9.5.0
duckduckgo-search
numexpr>=2.8.8
pytz
google.generativeai
pypdf>=6.0.0
docx2txt>=0.8
faiss-cpu>=1.7.4
langchain-text-splitters>=0.3.0
langchain-chroma
streamlit>=1.30.0
pdfplumber
pandas
chromadb
price_parser
gradio
